body{
    background-color: black;
    justify-content: center;
    align-items: center;
}

.conteinerfather{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: orangered;
}

* {
    list-style: none;
}

li{
    color: white;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
    color: black;
    cursor: pointer;
}